.BodyModal {
  width: 50%;
  color: white;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1.1;
  margin-inline: auto;
  background-color: rgba(0, 0, 0, 0.277);
  padding: 2em;
  border-radius: 10px;
  display: flex;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  min-width: 320px;
}
.BodyModal h1 {
  margin-bottom: 1.3em;
}
.BodyModal h4 {
  margin-top: 1em;
  font-weight: 300;
}
@media screen and (max-width: 1044px) {
  .BodyModal {
    width: 95%;
    top: 50%;
  }
}
