.div {
  display: flex;
  justify-content: flex-end;
}
.close {
  width: 80px;
  height: 35px;
  border: 1px solid rgb(117, 46, 46);
  border-radius: 10px;
  font-size: 14px;
  color: rgb(117, 46, 46);
  background: transparent;
  font-weight: 400;
  letter-spacing: 1.3px;
}
.order {
  width: 80px;
  height: 35px;
  border: 1px solid rgb(117, 46, 46);
  border-radius: 10px;
  font-size: 14px;
  background-color: rgb(117, 46, 46);
  color: white;
  font-weight: 400;
  letter-spacing: 1.3px;
  margin-left: 1em;
}
.order:hover {
  background: transparent;
  color: rgb(117, 46, 46);
}
button {
  cursor: pointer;
}
