.totalMeals {
  display: flex;
  justify-content: space-between;
}
.totalMeals h1 {
  font-size: 16px;
}
.totalMeals h2 {
  font-size: 13px;
  letter-spacing: 1.1px;
  margin-bottom: 0.8em;
}
.mealOrders {
  display: flex;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.mealOrders p {
  margin-right: 2em;
  color: rgb(125, 41, 41);
  font-weight: 600;
}
.mealOrderValue {
  border: 1px solid gainsboro;
  background-color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
  width: 40px;
}
.mealOrders .mealOrderValue p {
  margin-left: 0.7em;
  color: rgb(117, 46, 46);
}
aside > .button {
  width: 40px;
  height: 35px;
  border: 1px solid rgb(117, 46, 46);
  margin-right: 0.1em;
  border-radius: 10px;
  font-size: 19px;
  color: rgb(117, 46, 46);
  background: transparent;
  margin-bottom: 1.2rem;
  font-weight: 800;
}
.button:hover {
  transition: 0.5s ease-in-out;
  background: rgb(125, 41, 41);
  color: #ffffff;
  width: 45px;
  height: 38px;
}
.noCartData {
  color: rgb(125, 41, 41);
  font-size: 19px;
  letter-spacing: 1.1px;
  padding: 3em;
}
@media screen and (max-width: 720px) {
  .mealOrders {
    flex-direction: column;
  }
  .totalMeals {
    flex-direction: column;
  }
  .main {
    margin-top: 0.2em;
    display: flex;
  }
}
@media screen and (max-width: 599px) {
  .mealOrderValue {
    margin-top: 0.4rem;
  }
}
