* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.871);
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(125, 41, 41);
  height: 4rem;
}
.navbar h1 {
  font-size: 1.7em;
  color: white;
}
.cart-section {
  color: white;
  display: flex;
  background-color: rgba(0, 0, 0, 0.437);
  padding: 0.8em 1.2em 0.8em 1.2em;
  border-radius: 20px;
  align-items: center;
}
.cart-section h4 {
  margin: 0 1em 0 1em;
  font-size: 14px;
}
.count {
  width: 30px;
  padding: 5px 0 5px 0;
  background-color: rgb(165, 79, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
@media screen and (max-width: 376px) {
  .navbar h1 {
    font-size: 1em;
  }
}
