.allOrders > h1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 3.7em;
}
.allOrders h2 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(125, 41, 41);
  font-size: 20px;
}
.allOrders h3 {
  font-weight: 400;
  letter-spacing: 1px;
  font-weight: 600;
}
.imgDiv {
  display: flex;
  justify-content: space-between;
}
.imgDiv h4 {
  color: gray;
}
.arraySummaryInfo {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.arraySummaryInfo img {
  width: 50px;
  height: 50px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 1em;
}
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.shipping {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.grandTotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 666px) {
  .arraySummaryInfo {
    flex-direction: column;
  }
  .allOrders h2 {
    font-size: 15px;
  }
  .arraySummaryInfo {
    align-items: start;
  }
}
