@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

section {
  margin-bottom: 4em;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

.app {
  width: 90%;
  padding: 2rem;
  border-radius: 12px;
  background-color: white;
  margin: 3rem auto;
  scroll-behavior: smooth;
}

.app h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.form-control {
  margin-bottom: 25px;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #3f3f3f;
  border-color: #ccc;
  cursor: not-allowed;
  padding: 1em;
  font-weight: 700;
}

.form-control h2 {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(125, 41, 41);
  margin-bottom: 1.5rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 90%;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: rgb(125, 41, 41);
  background-color: #e0d4fd;
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}
.billingDetails {
  display: block;
}

.button {
  font: inherit;
  background-color: rgb(125, 41, 41);
  color: white;
  border: 1px solid rgb(125, 41, 41);
  padding: 0.5rem 1.6rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: rgb(125, 41, 41);
  border-color: rgb(125, 41, 41);
}

.form-actions {
  text-align: right;
}

.form-actions button {
  margin-left: 1rem;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}
.lastName-label {
  margin-top: 2.8em;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}

.goBack {
  margin-left: 1.5rem;
  margin-top: 1rem;
}
.Billing-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.shippingDetails {
  display: grid;
  grid-template: repeat(4, auto) / repeat(2, 1fr);
}
.zip-label {
  margin-top: 2.6em;
  margin-bottom: 0.8em;
}
@media screen and (max-width: 666px) {
  .app {
    width: 100%;
  }
  .Billing-details {
    display: block;
  }
  .shippingDetails {
    display: block;
  }
  .app h1 {
    font-size: 20px;
  }
  .app h1 {
    margin-top: 12px;
  }
  .form-control input,
  .form-control select {
    width: 100%;
  }
  .form-control h2 {
    font-size: 15px;
  }
  .button {
    font-size: 12px;
    padding: 0.8em;
  }
}
